#### Regras:
* A avaliação é individual
* O prazo para entrega é 29/03, 15h30 (final da aula)
* Não utilize internet além das documentações oficiais do Python
* Ao completar envie para ana.mees@ipm.com.br
* Boa sorte! Os resultados também irão nos guiar nas próximas aulas

### Questão 1 - Fermat

In [5]:
def check_fermat (a : int , b : int , c: int , n : int):
    if(n > 2):
        if(a**n + b**n != c**n):
            print ('Fermat estava errado!')
        else:
            print ('Ok, ele estava certo.')
    else:
        print('Insira um valor para n maior que 2')

check_fermat(1,1,1,3);

Fermat estava errado!

### Questão 2 - Manipulação com listas

In [74]:
a = list()
b = 10
while (b < 105):
    a.insert(0,b)
    b += 1
print(a)
c = 0 
d = 0
while(d < (len(a)-5)):
    c = a[d] + c
    d += 2
while(d < (len(a))):
    c = a[d] + c
    d += 1
print (c)

[104, 103, 102, 101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]
2760

### Questão 3 - Par inverso

In [34]:
def par_inverso (a : str , b : str):
     c = list(a)
     c.reverse()
     d = list(b)
     if(c == d):
        return 'true'
     else:
        return 'false'

print(par_inverso('EMANUEL', 'LEUNAME'))

true

### Questão 4 - Nome na vertical

In [36]:
def nome_vertical(nome : str):
    nome = list(nome)
    for n in nome:
        print(n)

nome_vertical(input('INSIRA SEU NOME'))

e
m
a
n
u
e
l

### Questão 5 - Número de telefone

In [60]:
def num_tel(num : str):
    num = list(num)
    num.reverse()
    if(num[4] == '-'):
        num.reverse()
        while(len(num) < 10):
            num.insert(0,'9')
    else:
        num.reverse()
        while(len(num) < 9):
            num.insert(0,'9')
    print(''.join(num))

num_tel('9112-4613')

99912-4613

### Questão 6 - Gerador automático de senhas

In [75]:
import random

def gerador_senha(num :int , tam : int):
    aCaracter = ['especial', 'numero', 'letra']
    especial = '&*!#$@'
    numero = '123456789'
    letra = 'abcdefghijklmnopqrstuvwxyz'
    if(tam > 5):
        n = list()
        while (len(n) < num):
            t = list()
            while  (len(t) < tam):
                a = random.choice(aCaracter)
                if(a == 'especial'):
                    carc = random.choice(list(especial))
                    t.insert(0,carc)
                elif(a == 'numero'):
                    carc = random.choice(list(numero))
                    t.insert(0,carc)
                elif(a == 'letra'):
                    carc = random.choice(list(letra))
                    t.insert(0,carc)
                else:
                    t.insert(0,'')
            t = ''.join(t)
            n.insert(0,t)
        print(n)    
    else:
        print('Tamanho deve ser superior a 5 caracteres')        


gerador_senha(4, 12)

['$$#iey$$4$!7', 'akzyv7674o2!', 'h&z#y29u&9$7', 'qb!1#g$x571d']

### Questão 7 - Dataframes!

In [7]:
import pandas as pd

produtos = {'registro_produto': ['laptop', 'impressora', 'tablet', 'mesa', 'cadeira'],
        'preço': [1200, 150, 300, 450, 200]}

df_produtos = pd.DataFrame(produtos, index=['produto_1', 'produto_2', 'produto_3', 'produto_4', 'produto_5'])
df_produtos

          registro_produto  preço
produto_1           laptop   1200
produto_2       impressora    150
produto_3           tablet    300
produto_4             mesa    450
produto_5          cadeira    200

In [6]:
import pandas as pd

vendas = {'registro_produto': ['laptop', 'tablet', 'laptop', 'mesa', 'cadeira', 'mesa', 'tablet', 'cadeira', 'cadeira', 'laptop', 'tablet', 'cadeira'],
        'data': ['03/05/2023', '17/11/2022', '09/08/2022', '14/05/2023', '23/07/2021', '09/09/2021', '19/08/2023', '23/07/2021', '23/07/2021', '09/08/2022', '24/01/2021', '18/03/2023']}

df_vendas = pd.DataFrame(vendas, index=['venda_1', 'venda_2', 'venda_3', 'venda_4', 'venda_5', 'venda_6', 'venda_7', 'venda_8', 'venda_9', 'venda_10', 'venda_11', 'venda_12'])
df_vendas

         registro_produto        data
venda_1            laptop  03/05/2023
venda_2            tablet  17/11/2022
venda_3            laptop  09/08/2022
venda_4              mesa  14/05/2023
venda_5           cadeira  23/07/2021
venda_6              mesa  09/09/2021
venda_7            tablet  19/08/2023
venda_8           cadeira  23/07/2021
venda_9           cadeira  23/07/2021
venda_10           laptop  09/08/2022
venda_11           tablet  24/01/2021
venda_12          cadeira  18/03/2023

a) Incorpore uma coluna ao df_produtos com a receita total de cada produto por ano, ou seja, uma coluna com o ano 2021, outra com 2022 e outra com 2023 para cada produto.

b) Qual foi a receita total nesses 3 anos?